*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






.infos-adicionais{

 

    display: flex;
    width: 100%;
 
    justify-content: end;
    align-items:flex-end;
    padding-bottom: 10px;
   

}

header{
    width: 100%;
}

.texto-logo{
    display: flex-column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}


.texto-logo>h3{
  font-size: larger;
    
    font-size: 5vh;
}
.texto-logo>p{
    
    font-size: 12px;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #0b0f13; /* Defina a cor desejada aqui */
  }


.infos>a{
    text-decoration: none;
    color:aqua;
    margin-right: 0.5vh;
    font-size: 1.8vh;
}

.infos{
    display:inline-flex;
}


.logogeral>img{
    max-width: 10%;
    height: 10%; 
}


.logogeral{
  padding: 5px;
  display: flex;
  color:#912424;
  align-items:center;
  width: inherit;
  justify-content: space-between;
}

.header{
    display:flex;
    background-color: #956865;
}
.produto-placa-mae{
    display: flex;
    flex-wrap: wrap;
}

.picture img{
    width: 200px;
    height: 200px;
}

.ultimas-avaliacoes-alert{
    display: flex;
}

.sugestoes{
    display: flex;
}

.estrela{
    color: rgb(235, 235, 41);
}

.card{
    height: fit-content;
}

.card-img-top{
    height: 10vh;
    width: 10vh;
    align-self: center;
}

.sugestoes .card{
    display: flex;
    align-items: center;
}
.sections {
    width: 80%;
   
}

.container {
    display:flex;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

.review {
    width: 80%;
    height: 80%;
}


#lingua{
    display:flex;
    flex-direction: row;
    width: 100%;
}

  #lingua .linguagem {
    width:15%;
    height: 10%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1vh;
    border-radius: 4px;
    background-color:white ;
    cursor: pointer;
    text-align: center;
    align-self: center;
    border: solid 2px black;
    padding: 3px;
   
  }

